*{
    margin: 0%;
    padding:0%;
    height:100%;
    width:100%;
    box-sizing: border-box;
}

:root{
    --basic-typo:1vw;
}

body{
    font-size: var(--basic-typo);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:repeat(4, 1fr);
    height: 100vh;
    width:100vw;
    background-color: rgb(233, 230, 211);
    background-image: url("../img/food-background.jpg");
    background-size: cover;
}

header{
    background-color: rgb(248, 153, 85);
    grid-column: 1/6;
    display:grid;
    grid-template-columns:1fr 4fr ;
}
.sidebar{
    grid-row: 2/5;
    text-align: center;
    display: flex;
    flex-direction:column;
}

.content{
    grid-area: 2/2/5/6;
}

.logo{
    height: 120px;
    width: 120px;
    border-radius: 100px;
    justify-self: center;
    align-self: center;
}

.title{
    font-size: 4em;
    display: flex;
    justify-content:center;
    align-items:center;
}

.desc{
    text-align: center;
    font-size:1em;
    padding: 0%10%0%10%;
    background-color: rgb(247, 187, 144);
    padding: 8%;
    border-radius: 0 0 20px 20px;
    margin-bottom: 20%;
    line-height:1.2em;
    flex-shrink:1;
}

.desc-title{
    height:40%;
    font-size: 1em;
    display:flex;
    justify-content: center;
    align-items:end;
    background-color: rgb(248, 153, 85);
    margin-top:5%;
    border-radius: 20px 20px 0 0;
}

.content{
    display:grid;
    grid-template-rows:1fr 8fr ;
    grid-template-columns:1fr;
}

.tabs-wrapper{

    display:flex;
    justify-content:center;
    align-items:end;
    gap:10%;
}

.tabs-button{
    height:40px;
    width:100px;
    background-color: rgb(236, 189, 58);
    border-radius: 6px 6px 0 0;
}

.tabs-display-home{
    height: 80%;
    width:50%;
    justify-self: center;
    align-self:baseline;
    display: none;
}

.tabs-display-home>img{
    height: 100%;
    width:100%;
    border-radius: 10px;
}